{% extends 'baseAuth.html' %}

{% load static %}

{% block meta %}
{%endblock meta%} 

{% block content %} 
<form method="post">
    {% csrf_token %}
    <div>
      <label for="id_username">Username:</label>
      <input type="text" name="username" id="id_username" required>
    </div>
    <div>
      <label for="id_password">Password:</label>
      <input type="password" name="password" id="id_password" required>
    </div>
    <div>
      <label for="id_first_name">Nama Depan:</label>
      <input type="text" name="first_name" id="id_first_name" required>
    </div>
    <div>
      <label for="id_last_name">Nama Belakang:</label>
      <input type="text" name="last_name" id="id_last_name" required>
    </div>
    <div>
      <label for="id_phone_number">Nomor HP:</label>
      <input type="text" name="phone_number" id="id_phone_number" required>
    </div>
    <div>
      <label for="id_email">Email:</label>
      <input type="email" name="email" id="id_email" required>
    </div>
    <div>
      <label for="id_address">Alamat:</label>
      <textarea name="address" id="id_address" required></textarea>
    </div>
    <div>
      <label for="id_status">Status:</label>
      <input type="radio" name="status" id="id_status1" value="mahasiswa" required>
      <label for="id_status1">Mahasiswa</label>
      <input type="radio" name="status" id="id_status2" value="dosen" required>
      <label for="id_status2">Dosen</label>
      <input type="radio" name="status" id="id_status3" value="tendik" required>
      <label for="id_status3">Tendik</label>
      <input type="radio" name="status" id="id_status4" value="alumni" required>
      <label for="id_status4">Alumni</label>
      <input type="radio" name="status" id="id_status5" value="umum" required>
      <label for="id_status5">Umum</label>
    </div>
    <button type="submit">Daftar</button>
  </form>
  {%endblock content%}