{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Manage Pertandingan</title>
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock meta %}

{% block content %}
<!-- Navbar Panitia -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold" href="#">U-League</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:show_dashboard_panitia' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rapat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manage Pertandingan</a>
          </li>
        </ul>
        <form class="d-flex" role="logout">
          <button type="button" class="btn btn-outline-primary"><a href="{% url 'authentication:logout' %}">Logout</a></button>
        </form>    
      </div>
    </div>
</nav>

<!-- Tabel Pertandingan -->
<div class="container mt-5">
    <h1 class="mb-4">Lihat Peristiwa</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="5">Peristiwa Tim [Nama Tim]</th>
            </tr>
            <tr>
                <th scope="col">Nama Pemain</th>
                <th scope="col">Peristiwa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pemain 1</td>
                <td>Peristiwa 1</td>
            </tr>
            <tr>
                <td>Pemain 2</td>
                <td>Peristiwa 2</td>
            </tr>
            <tr>
                <td>Pemain 3</td>
                <td>Peristiwa 3</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}