{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mulai Pertandingan</title>
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock meta %}

{% block content %}
<!-- Navbar Panitia -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold" href="#">U-League</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:show_dashboard_panitia' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rapat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manage Pertandingan</a>
          </li>
        </ul>
        <form class="d-flex" role="logout">
          <button type="button" class="btn btn-outline-primary"><a href="{% url 'authentication:logout' %}">Logout</a></button>
        </form>    
      </div>
    </div>
</nav>

<!-- Tabel Peristiwa -->
<div class="container mt-5">
    <h1 class="mb-4">Peristiwa</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tim 1</th>
                <th scope="col">Tim 2</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>
                    <table>
                        <tr>
                          <td><a href="{% url 'mulai_pertandingan:pilih-peristiwa1' %}" class="btn btn-outline-primary btn-sm">Masukkan Peristiwa Tim 1</a></td>
                        </tr>
                        <tr>
                          <td><a href="{% url 'mulai_pertandingan:pilih-peristiwa2' %}" class="btn btn-outline-primary btn-sm">Masukkan Peristiwa Tim 2</a></td>
                        </tr>
                      </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" text-align="center"><a href="#" class="btn btn-primary">Submit</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}