{% extends 'baseAuth.html' %}

{% load static %}

{% block meta %}
{%endblock meta%} 

{% block content %} 

<!-- Navbar Manajer -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold" href="#">U-League</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:show_dashboard_manajer' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mengelola Tim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Peminjaman Stadium</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">List Pertandingan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History Rapat</a>
          </li>
        </ul>
        <form class="d-flex" role="logout">
          <button type="button" class="btn btn-outline-primary"><a href="{% url 'authentication:logout' %}">Logout</a></button>
        </form>    
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <h1 class="mb-4" style="text-align:center">List Pemesanan</h1>
    <table class="table table-hover"> 
        <thead>
            <tr style="background-color:#1D267D; color: #FFFFFF">
                <th scope="col">Stadium</th>
                <th scope="col">Waktu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Stadium GBK</td>
                <td>5 Juli 2023, 07.00 - 09.00</td>
            </tr>
            <tr>
                <td>Stadium MBK</td>
                <td>7 Juli 2023, 13.00 - 15.00</td>
            </tr>
            <!-- <tr>
                <td colspan="2" style="text-align: center;"><a href="{% url 'peminjaman_stadium:peminjaman' %}" class="btn btn-primary">Pesan</a></td>
            </tr> -->
        </tbody>
    </table>
    <div style="text-align: center;">

      <a href="{% url 'peminjaman_stadium:peminjaman' %}" class="btn btn-primary">Pesan</a>
    </div>
</div>





{% endblock content %} 