{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<script src="https://kit.fontawesome.com/ff49bbe5ae.js" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
<!-- Navbar Panitia -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold" href="#">U-League</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:show_dashboard_panitia' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rapat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manage Pertandingan</a>
          </li>
        </ul>
        <form class="d-flex" role="logout">
          <button type="button" class="btn btn-outline-primary"><a href="{% url 'authentication:logout' %}">Logout</a></button>
        </form>    
      </div>
    </div>
</nav>
  
<!-- Profile Card -->
<div class="container-fluid d-flex align-items-center justify-content-center my-4">
    <div class="card p-3 shadow">
        <div class="card-body" id="profile-card">
            <div class="info-column mx-3 mb-3">
                <div class="row">
                    <p class="h4 card-title my-4">[First] [Last]</p>
                    <p class="h7 text-muted">
                        <i class="fa-solid fa-phone"></i>
                        Nomor HP
                    </p>
                    <p class="h7 text-muted">
                        <i class="fa-solid fa-envelope"></i>
                        Email
                    </p>
                    <p class="h7 text-muted">
                        <i class="fa-solid fa-location-dot"></i>
                        Alamat
                    </p>
                    <p class="h7 text-muted">
                        <i class="fa-solid fa-user-tag"></i>
                        Status
                    </p>
                    <p class="h7 text-muted">
                        <i class="fa-solid fa-user"></i>
                        Jabatan
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}